---

---



  <!-- mobile view my projects 
  data-color="#F5F5F7"
   data-title="Projects"
  -->
  <div 
 
  class="flex md:hidden py-[15%]">
    <div class="right h-fit w-full relative screen rounded-[3rem] py-[10%]">
      <!-- <div
        class="absolute top-0 bottom-0 h-[60vh] w-[90%] m-auto overflow-hidden rounded-[3rem]"
      > -->
        <div class="rounded-[1.9rem] h-fit w-full border-inherit flex flex-col">
          <section class="m-auto py-2 bg-[#4F46E5] w-full h-[45vh] rounded-[3rem] relative z-10">
            <img 
            src="/blithe/home.png"
            style={{
              boxShadow: 'rgba(0, 0, 0, 0.2) 0px 60px 40px -7px',
             }}
            class="rounded-[1rem] aspect-auto w-[95%] m-auto bg-cover bg-center absolute top-0 bottom-0 left-0 right-0"
            />
          </section>
          <section class="m-auto py-2 w-full h-[45vh] rounded-[3rem] z-10 items-center justify-center align-middle flex flex-col">
            <p class="font-semibold text-center w-fit text-[2.2rem] leading-5">Blithe Chat App</p>
            <button class="rounded-full font-light text-base px-[27px] py-[11px] border-[1px] border-primary text-primary m-12">
              View More
            </button>
          </section>

          <section class="m-auto py-2 bg-[#64A6A3]  w-full h-[45vh] rounded-[3rem] relative z-20">
            <img 
            style={{
              boxShadow: 'rgba(0, 0, 0, 0.2) 0px 60px 40px -7px',
             }}
            src="/dashboard/home.png"
            class="rounded-[1rem] aspect-auto w-[90%] m-auto bg-cover bg-center absolute top-0 bottom-0 left-0 right-0"
            />
          </section>
          <section class="m-auto py-2 w-full h-[45vh] rounded-[3rem] z-10 items-center justify-center align-middle flex flex-col">
            <p class="font-semibold text-center w-fit text-[2.2rem] leading-5 ">Analytical Dashboard</p>
            <button class="rounded-full font-light text-base px-[27px] py-[11px] border-[1px] border-primary text-primary m-12">
              View More
            </button>
          </section>

          <section class="m-auto py-2 bg-[#F894B0]  w-full h-[45vh] rounded-[3rem] relative z-30">
            <img 
            src="/blog/home.png"
            style={{
              boxShadow: 'rgba(0, 0, 0, 0.2) 0px 60px 40px -7px',
             }}
            class="rounded-[1rem] aspect-auto w-[90%] m-auto bg-cover bg-center absolute top-0 bottom-0 left-0 right-0"
            />
          </section>
          <section class="m-auto py-2 w-full h-[45vh] rounded-[3rem] z-10 items-center justify-center align-middle flex flex-col">
            <p class="font-semibold text-center w-fit text-[2.2rem] leading-5 ">Blog App</p>
            <button class="rounded-full font-light text-base px-[27px] py-[11px] border-[1px] border-primary text-primary m-12">
              View More
            </button>
          </section>
        </div>
      <!-- </div> -->
    </div>
  </div>