---

---

<div 
style={{
  background: 'linear-gradient(129deg, #33383D 0%, #323232 100%)',
}}
class="rounded-[3rem]">
<!-- bg-[url('bgpng.png')] bg-cover -->
    <div class="min-h-[100vh] h-fit max-w-[1940px] w-4/5 mx-auto relative ">
      <div
        style={{
          font: 'Inter',
        }}
        id="revealType"
        class="md:text-[1.9rem] text-[1.4rem] font-normal break-words text-wrap m-auto top-0 bottom-0 left-0 right-0 absolute h-fit w-[90%] text-center text-white revealType"
      >
      Divanshu, an adept full-stack developer based in India, brings over 2 years of experience crafting dynamic web applications. With a passion for merging beauty and simplicity, his goal is to empower businesses to scale seamlessly. Explore Divanshu's portfolio for a glimpse into the intersection of innovation and functionality. 
      Ideal for freelance collaborations and a valuable asset for tech recruiters.
      </div>
    </div>
  </div>


  <script is:inline >
    import { annotate, annotationGroup } from 'rough-notation';

    const freelance = annotate(document.querySelector('highlight'), {type: 'highlight', color: '#F59E0B'});
    freelance.show();
  </script>

  

<script>
  import gsap from 'gsap'
  import SplitType from 'split-type';
  gsap.registerPlugin(ScrollTrigger);

  const splitTypes = document.querySelectorAll(".revealType");
  splitTypes.forEach((char) => {
    const text = new SplitType(char, { types: "chars" });


    gsap.from(text.chars, {
      scrollTrigger: {
        trigger: char,
        start: "top 75%",
        end: "top 20%",
        scrub: true,
        markers: false,
        toggleActions: "play play reverse reverse",
      },
      opacity: 0.2,
      stagger: 0.1,
    });
  });
  </script>