---
import Layout from "../layouts/Layout.astro";
import Toolbar from "../components/Toolbar.astro";
import Hero from "../components/Hero/index.astro";
import About from "../components/About/index.astro";
import Experience from '../components/Experience/index.astro'
import Navbar from '../components/Navbar/index.astro'
import Contact from '../components/Contact/index.astro'
import MobileViewProjects from '../components/Projects/index.astro'
---


<Layout title="Portfolio | Divanshu">
  <div class="cursor"></div>
  <Navbar/>
  <Hero />

  <!-- <div 
  class="h-full md:w-[65%] w-full relative home">
    <div class="absolute overflow-y-hidden h-[15vh] md:w-4/5 w-full mx-auto inset-y-1/2 right-0 left-0">
      <div class="relative changingText">
      </div>
    </div>
  </div> -->

 <About/>

  

  

 <div
 style={{
   font: 'Inter',
 }}
   class="h-fit w-[100%] mx-auto relative hidden md:flex gallery align-middle justify-center"
 >
   <div 
   class="left h-fit w-1/2 text-white">


     <div 
     data-title="Projects"
     class="h-[101vh] colorBox text-[#1A1A1A]" 
     data-color="#B9B5F5"
     data-title-color="#4F46E5"
     >
       <div class="m-auto h-[100vh] w-4/5 flex flex-col align-middle items-center p-[10%]">
        <div class="text-left text-blackPrimary align-middle items-center my-auto">
         <h2 class="text-[#4F46E5] py-[3vh]"> <a href="https://blithe-chatapp.vercel.app" target="_blank">blithe-chatapp.vercel.app</a></h2>
         <h1 class="text-[1.9em] font-base my-auto">Blithe Chat App</h1>
         <div class="my-auto">
           <div class="flex flex-col">
           <p class="text-blackPrimary/80">
             A peer-to-peer instant real-time messaging application with user authentication, enabling seamless user search, friend
requests, and efficient communication
           </p>
         </div>
         </div>
       </div>
       </div>
     </div>


     <div 
     data-title="Projects"
     class="h-[100vh] colorBox" 
     data-color="#CDE2E1"
     data-title-color="#64A6A3"
     >
       <div class="m-auto h-[100vh] w-4/5 flex flex-col align-middle items-center p-[10%]">
         <div class="text-left text-blackPrimary align-middle items-center my-auto">
          <h2 class="text-[#64A6A3] py-[3vh]"> <a href="https://greenstitch-assign.vercel.app/" target="_blank">greenstitch-assign.vercel.app</a></h2>
          <h1 class="text-[1.9em] font-base my-auto">Analytical Dashboard</h1>
          <div class="my-auto">
            <div class="flex flex-col">
            <p class="text-blackPrimary/80">
              A dashboard that provides a comprehensive overview of the company's performance, enabling the user to analyze the data
            </p>
          </div>
          </div>
        </div>
        </div>
     </div>

     <div 
     data-title="Projects"
     class="h-[100vh] colorBox cursor-scale" 
     data-color="#FEEAEE"
     data-title-color="#F894B0"
     > 
       <div class="m-auto h-[100vh] w-4/5 flex flex-col align-middle items-center p-[10%]">
         <div class="text-left text-blackPrimary align-middle items-center my-auto">
          <h2 class="text-[#F894B0] py-[3vh]"> <a href="https://divanshublog.vercel.app" target="_blank">divanshublog.vercel.app</a></h2>
          <h1 class="text-[1.9em] font-base my-auto">Blog App</h1>
          <div class="my-auto">
            <div class="flex flex-col">
            <p class="text-blackPrimary/80">
             Developed a modern Blog App leveraging GraphQL and GraphCMS to empower administrators with effortless con-
             tent management and engage users through commenting functionality.
            </p>
          </div>
          </div>
        </div>
        </div>  
     </div>


   </div>


   <div class="right h-[100vh] w-1/2 relative screen rounded-[3rem]">
     <div
       class="absolute top-0 bottom-0 h-[60vh] w-[90%] m-auto overflow-hidden rounded-[3rem]"
     >
       <div class="p-[10%] rounded-[1.9rem] h-full w-full border-inherit flex flex-col smain">
         <section class="py-2 bg-[#4F46E5] min-w-[35vw] translate-x-[-5vw] h-[60vh] translate-y-[-10vh] rounded-[3rem] card1 z-10 relative">
           <img 
           src="/blithe/home.png"
           style={{
            boxShadow: 'rgba(0, 0, 0, 0.2) 0px 60px 40px -7px',
           }}
           class="rounded-[1rem] aspect-auto w-[90%] m-auto bg-cover bg-center absolute top-0 bottom-0 left-0 right-0"
           />
         </section>

         <section class="py-2 bg-[#64A6A3] min-w-[35vw] translate-x-[-5vw] h-[60vh] translate-y-[-10vh] rounded-[3rem] card2 z-20">
           <img 
           src="/dashboard/home.png"
           style={{
            boxShadow: 'rgba(0, 0, 0, 0.2) 0px 60px 40px -7px',
           }}
           class="rounded-[1rem] aspect-auto w-[90%] m-auto bg-cover bg-center absolute top-0 bottom-0 left-0 right-0"
           />
         </section>

         <section class="py-2 bg-[#F894B0] min-w-[35vw] translate-x-[-5vw] h-[60vh] translate-y-[-10vh] rounded-[3rem] card3 z-30">
           <img 
           src="/blog/home.png"
           style={{
            boxShadow: 'rgba(0, 0, 0, 0.2) 0px 60px 40px -7px',
           }}
           class="rounded-[1rem] aspect-auto w-[90%] m-auto bg-cover bg-center absolute top-0 bottom-0 left-0 right-0"
           />
         </section>
       </div>
     </div>
   </div>
 </div>
  <MobileViewProjects />

  <Experience />
  
    <!-- <Stack /> -->
  <Contact />

  
  <Toolbar />
</Layout>

<!-- <script  type="text/javascript"  src="https://unpkg.com/sheryjs/dist/Shery.js"></script> -->
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>


<!-- ControlKit is needed for Debug Panel -->
<script
  src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"
  is:inline
  type="text/javascript"></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
></script>
<script is:inline src="https://unpkg.com/split-type"></script>

<script type="text/javascript">
  var cursor = document.querySelector(".cursor"),
    cursorScale = document.querySelectorAll(".cursor-scale"),
    mouseX = 0,
    mouseY = 0;

  gsap.to({}, 0.016, {
    repeat: -1,
    onRepeat: function () {
      gsap.set(cursor, {
        css: {
          left: mouseX,
          top: mouseY,
        },
      });
    },
  });

  window.addEventListener("mousemove", function (e) {
    mouseX = e.clientX;
    mouseY = e.clientY;
  });

  cursorScale.forEach((link) => {
    link.addEventListener("mouseleave", () => {
      cursor.classList.remove("grow");
    });
    link.addEventListener("mousemove", () => {
      cursor.classList.add("grow");
    });
  });

  var h1s = document.querySelectorAll("#intro");
  var index = 0;
  document.querySelector("main").addEventListener("click", function () {
    gsap.to(h1s[index], {
      y: "-=100%",
      duration: 1,
      ease: Expo.easeInOut,
      onComplete: function () {
        gsap.set(this._targets[0], {
          y: index !== 0 ? "100%" : "0%",
        });
      },
    });
    index === h1s.length - 1 ? (index = 0) : index++;
    gsap.to(h1s[index], {
      y: "-=100%",
      duration: 1,
      ease: Expo.easeInOut,
    });
  });
</script>


<!-- Project section animation -->
<script>
  import gsap from 'gsap'

  gsap.registerPlugin(ScrollTrigger);
  const root = document.documentElement;

  ScrollTrigger.create({
  trigger: ".gallery",
  start: "top top",
  end: "+=33% top",
  onUpdate: (self) => {
    console.log(self.progress);
    root.style.setProperty("--dos-inset", (1 - self.progress) * 100 + "%");
  },
  pin: ".card1",
});

ScrollTrigger.create({
  trigger: ".gallery",
  start: "33% top",
  end: "66% top",
  onUpdate: (self) => {
    root.style.setProperty("--tres-inset", (1 - self.progress) * 100 + "%");
  },
});

ScrollTrigger.create({
  trigger: ".gallery",
  start: "top top",
  end: "+=66% top",
  pin: ".card2",
});

ScrollTrigger.create(
  {
  trigger: ".gallery",
  start: "top top",
  end: "+=80% top",
  pin: ".card3",
});
</script>



<!-- Lenis script -->
<script>
  import Lenis from '@studio-freight/lenis'
  const lenis = new Lenis();

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>

<script>
  const coloredBoxes = document.querySelectorAll('.colorBox');

window.addEventListener('scroll', () => {
  coloredBoxes.forEach(box => {
    if (
      box.getBoundingClientRect().top <= document.body.scrollTop + 30
    ) {
      document.body.style.backgroundColor = (box as HTMLElement).dataset.color;
      document.body.style.transition = '0.5s';
    }
  });
});
</script>

<script>
  // font-weight: 500;
    // letter-spacing: 0.1rem;
    // line-height: 1.5rem;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    // text-transform: uppercase;
  const coloredBoxes = document.querySelectorAll('.colorBox');
  const title: HTMLElement = document.querySelector('.title')
  // console.log(title.classList + " div")

  window.addEventListener('scroll', () => {
    coloredBoxes.forEach(box => {
      // console.log((box as HTMLElement).dataset.titleColor + " boxcolor")
      if (
        box.getBoundingClientRect().top <= document.body.scrollTop + 30
      ) {
        title.innerHTML = (box as HTMLElement).dataset.title;
        // title.classList.add((box as HTMLElement).dataset.titleColor)
        title.style.transition = '0.5s';
        title.style.letterSpacing = '0.1rem';
        title.style.lineHeight = '1.5rem';
        title.style.clipPath = 'polygon(0 0, 100% 0, 100% 100%, 0% 100%)';
        title.style.textTransform = 'uppercase';
      }
    });
  })

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Archivo&family=Audiowide&family=Black+Ops+One&family=Cinzel&family=Cookie&family=DM+Serif+Display&family=Dancing+Script&family=Great+Vibes&family=Indie+Flower&family=Inter&family=Kaushan+Script&family=Pacifico&family=Permanent+Marker&family=Philosopher&family=Poppins:wght@200&family=Raleway&family=Rowdies&family=Russo+One&family=Satisfy&family=Tangerine&family=Tourney&family=Ultra&family=Vina+Sans&family=Work+Sans:wght@300;900&family=Zeyada&display=swap');
  body {
    text: #1a1a1a;
  }
  main {
    margin: auto;
    padding: 1rem;
    color: white;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    line-height: 1;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .cursor {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: -20px;
    margin-top: -20px;
    border: 4px solid #ff568d;
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
    z-index: 1000;
    transform-origin: center center;
  }
  .grow,
  .grow-small {
    transform: scale(3);
    background: #f8e8ee;
    mix-blend-mode: difference;
    border: none;
  }
  .grow-small {
    transform: scale(2.5);
  }
  .floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }
  .card1 {
  height: 100%;
  width: 100%;
  background-size: cover;
  clip-path: inset(0 0 0 0);
  position: absolute;
}

.card2 {
  height: 100%;
  width: 100%;
  background-size: cover;
  clip-path: inset(var(--dos-inset) 0 0 0);
  position: absolute;
}

.card3 {
  height: 100%;
  width: 100%;
  background-size: cover;
  clip-path: inset(var(--tres-inset) 0 0 0);
  position: absolute;
}

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 5vh);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

</style>
