---
---

<div 
data-color="#13151A"
data-title="Contact"
data-title-color="#FEFEFE"
style={{
    background: 'linear-gradient(129deg, #33383D 0%, #323232 100%)',
  }}
class="mx-auto rounded-[3rem] colorBox relative">
<div class="font-light">
<div class="min-h-[100vh] h-fit max-w-[1940px] w-4/5 mx-auto relative ">
    <div
      style={{
        font: 'Inter',
      }}
      
      class="md:text-[1.5rem] text-[1rem] break-words text-wrap m-auto top-0 bottom-0 left-0 right-0 absolute h-fit w-[90%] text-center text-white"
    >
    Want to hire me for your next project? Or looking for a freelance developer? <br /> <br />
    Feel free to connect me via <br/> <span class="font-normal text-primary">divanshu.garg113@gmail.com</span>

    <div>
    </div>

    <div class="rounded-[3rem] w-full h-[20vh] my-6 flex md:flex-row flex-col justify-between">
      <!-- <img 
      src="/socials/leetcode.png"
      class="w-[15vh] h-[15vh] object-cover grayscale hover:grayscale-0 duration-200 ease-out"
      /> -->
      <a class="" href="https://twitter.com/Divanshu___Garg" target="_blank">
      <img 
      src="/socials/x.png"
      class="w-[15vh] h-[15vh] rounded-xl object-cover grayscale hover:grayscale-0 duration-200 ease-out hover:shadow-lg hover:shadow-[#E91E63]/50"
      />
    </a>
    <a class="" href="https://github.com/GargDivanshu" target="_blank"> 
      <img 
      src="/socials/github.png"
      class="w-[15vh] h-[15vh] rounded-full object-cover grayscale hover:grayscale-0 duration-200 ease-out hover:shadow-lg hover:shadow-[#E91E63]/50"
      />
    </a>
    <a 
    class="rounded-3xl"
    href="https://www.linkedin.com/in/divanshu-garg-059406215/" target="_blank">
      <img 
      src="/socials/linkedin.png"
      class="w-[15vh] h-[15vh] rounded-xl object-cover grayscale hover:grayscale-0 duration-200 ease-out hover:shadow-lg hover:shadow-[#E91E63]/50"
      />
    </a>
    </div>
    <!-- Feel free to contact me at <a href="mailto:{{divanshu.garg113@gmail.coml}}" class="underline">{{divanshu.garg113@gmail.com}}</a> or <a href="https://twitter.com/{{site.twitter_username}}" class="underline">Twitter</a>. -->
    </div>
    <p class="text-center mx-auto w-fit bottom-10 left-0 right-0 absolute text-white text-xs">© 2024 DIVANSHU GARG. ALL RIGHT RESERVED.</p>

  </div>
</div>
</div>