---
---

<div 
style={{
    background: 'linear-gradient(129deg, #33383D 0%, #323232 100%)',
  }}
class="mx-auto rounded-[3rem]">
<div class="min-h-[100vh] h-fit max-w-[1940px] w-4/5 mx-auto relative ">
    <div
      style={{
        font: 'Inter',
      }}
      
      class="md:text-[1.9rem] text-[1.4rem] font-normal break-words text-wrap m-auto top-0 bottom-0 left-0 right-0 absolute h-fit w-[90%] text-center text-white"
    >
    Want to hire me for your next project? Or looking for a freelance developer? <br /> <br />
    Feel free to connect me via divanshu.garg113@gmail.com

    <div>
        
    </div>
    <!-- Feel free to contact me at <a href="mailto:{{divanshu.garg113@gmail.coml}}" class="underline">{{divanshu.garg113@gmail.com}}</a> or <a href="https://twitter.com/{{site.twitter_username}}" class="underline">Twitter</a>. -->
    </div>
  </div>
</div>