---

---

<div 
style={{
    backdropFilter: 'blur(18.75rem)',
    border: '.0625rem solid rgba(255, 255, 255, .1)',
}}
class="z-50 toolbar bottom-5 w-fit mx-auto left-0 right-0 hidden md:flex text-[#D4D4D4] sticky gap-6 rounded-[.6rem] bg-[rgba(0, 0, 0, .5)] mix-blend-difference text-xs">
    <ul 
    class="p-4 hover:cursor-pointer">
        <a id="home">
        HOME
        </a>
    </ul>
    <ul id="about" class="p-4 hover:cursor-pointer">
        ABOUT
    </ul>
    <ul id="projects" class="p-4 hover:cursor-pointer">
        PROJECTS
    </ul>
    <ul id="exp" class="p-4 hover:cursor-pointer">
        EXPERIENCE
    </ul>
    <!-- <ul class="p-4 hover:cursor-pointer">
        CONTACT
    </ul> -->
    <!-- bg-[#464646] -->
    <ul id="contact" class=" rounded-r-[.6rem] p-4 hover:cursor-pointer">
        CONTACT
    </ul>
</div>

<script >
    import gsap from 'gsap';
    import { ScrollToPlugin } from 'gsap/ScrollToPlugin';
    gsap.registerPlugin(ScrollToPlugin);

    const home = document.getElementById('home');
    home.addEventListener('click', () => {
        console.log("home clicked")
        gsap.to(window, {
            duration: 1,
            scrollTo: {
                y: '#HomePage',
                // autoKill: true
            },
        });
    });

    const about = document.getElementById('about');
    about.addEventListener('click', () => {
        console.log("about clicked")
        gsap.to(window, {
            duration: 1,
            scrollTo: {
                y: '#AboutPage',
                // autoKill: true
            },
        });
    });

    const projects = document.getElementById('projects');
    projects.addEventListener('click', () => {
        console.log("projects clicked")
        gsap.to(window, {
            duration: 1,
            scrollTo: {
                y: '#ProjectsPage',
                // autoKill: true
            },
        });
    });

    const exp = document.getElementById('exp');
    exp.addEventListener('click', () => {
        console.log("exp clicked")
        gsap.to(window, {
            duration: 1,
            scrollTo: {
                y: '#ExperiencePage',
                // autoKill: true
            },
        });
    });

    const contact = document.getElementById('contact');
    contact.addEventListener('click', () => {
        console.log("contact clicked")
        gsap.to(window, {
            duration: 1,
            scrollTo: {
                y: '#ContactPage',
                // autoKill: true
            },
        });
    });
</script>


<script>
    const main = document.querySelector('.main');
    const toolbar: HTMLElement = document.querySelector('.toolbar');
    
    
    const observer = new IntersectionObserver((entries) => {
        const isIntersecting = entries[0].isIntersecting;
    
        if (isIntersecting) {
            toolbar.style.display = 'none';
            toolbar.style.transition = 'all 2s ease-in-out';
        } else {
            toolbar.style.display = 'flex';
            toolbar.style.transition = 'all 2s ease-in-out';
        }
    }, {
        threshold: 0.75
    });
    
    observer.observe(main);
    
    </script>

    <style>
        @media (max-width: 768px){
            .toolbar {
                display: none !important;
            }
        }
    </style>