---

---
<!--  bg-[url('/expBg.png')] bg-cover -->
<div class="wrapper colorBox relative"
data-color="#F5F5F7"
data-title="Experience"
data-title-color="#13151A"
style={{
    font: 'Inter',
}}
>
    <div class="container scrollx overflow-clip overflow-x-visible">
        <div class="md:visible collapse absolute top-[10vh] w-4/5 h-[5vh] mx-[10vw] text-[1.5rem] font-light text-blackPrimary/90">
            These are some of the projects I worked on while interning or in collaboration with other people, contact to know more
        </div>
        <div class="absolute top-0 bottom-0 right-0 m-auto left-0 blob">
        </div>
        <svg 
        class="hidden md:block"
        viewBox="0 0 900 10" fill="none" xmlns="http://www.w3.org/2000/svg">

            <path d="M9.89998 6C9.43671 8.28224 7.41896 10 5 min-h-[100vh] h-fit max-w-[1940px] w-4/5 mx-auto relative 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.41896 0 9.43671 1.71776 9.89998 4H445.1C445.563 1.71776 447.581 0 450 0C452.419 0 454.437 1.71776 454.9 4H890.1C890.563 1.71776 892.581 0 895 0C897.761 0 900 2.23858 900 5C900 7.76142 897.761 10 895 10C892.581 10 890.563 8.28224 890.1 6H454.9C454.437 8.28224 452.419 10 450 10C447.581 10 445.563 8.28224 445.1 6H9.89998Z" fill="#D9D9D9"/>
            <mask id="mask0_0_1" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="900" height="10">
            <path d="M9.89998 6C9.43671 8.28224 7.41896 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.41896 0 9.43671 1.71776 9.89998 4H445.1C445.563 1.71776 447.581 0 450 0C452.419 0 454.437 1.71776 454.9 4H890.1C890.563 1.71776 892.581 0 895 0C897.761 0 900 2.23858 900 5C900 7.76142 897.761 10 895 10C892.581 10 890.563 8.28224 890.1 6H454.9C454.437 8.28224 452.419 10 450 10C447.581 10 445.563 8.28224 445.1 6H9.89998Z" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_0_1)">
            <rect class="mask" y="-49" height="99" fill="#E91E63"/>
            </g>
            
        </svg>


        <section class="sec1 pin">
            <span class="rounded-full p-[0.6rem] text-[0.7rem] uppercase text-white bg-blackPrimary font-semibold">Sept 23' - Oct 23'</span>
            <h1 class="text-primary py-0 font-bold">Blozum</h1>

            <div class="col md:w-[40vw] w-full flex-col">
                <img 
                src="/blozum/chatbot.png"
                class="aspect-auto w-12/13 rounded-[1rem]"
                />
                <img 
                src="/blozum/home.png"
                class="aspect-auto w-12/13 rounded-[1rem] flex md:hidden"
                />
                <img 
                src="/blozum/page.png"
                class="aspect-auto w-12/13 rounded-[1rem] flex md:hidden"
                />
                <!-- <p>Using GenAI to improve customer conversions on your website, app or social commerce platforms</p> -->
                <!-- <p>Lorem ipsum dolor sit amet consectetur. Egestas euismod nec sit sed massa turpis in. Sit praesent arcu leo lectus pellentesque. Ornare elit orci morbi volutpat. Ut fermentum lorem morbi quis risus amet urna. Urna egestas lorem.</p> -->
            </div>
        </section>


        <section class="sec2 pin">
            <span class="anim rounded-full p-[0.6rem] text-[0.7rem] uppercase text-white bg-blackPrimary font-semibold">June 23' - July 23'</span>
            <h1 class="anim text-primary font-bold">Idigizen </h1>
            <!-- <p class="text-[0.5rem] mb-0">[Propreitry]</p> -->

            <div class="col anim md:w-[40vw] w-full">
                <img 
                src="/idigizen/home.jpeg"
                class="aspect-auto w-12/13 rounded-[1rem]"
                />
                <!-- <p>iDigizen is a befitting place for all non-academic and multidisciplinary requirements of a learner. It is a platform to hone talent, life skills and hobbies. With its LIVE, online interactive format, it offers range of courses across the genres of Music, Art, Dance, Foreign Languages and other hobbies. It allows learners to pick their area of interest and learn at their own pace. Connecting the trainer and the learner, it becomes a one-stop destination for all your non-academic learning needs.</p> -->
                <!-- <p>Lorem ipsum dolor sit amet consectetur. Egestas euismod nec sit sed massa turpis in. Sit praesent arcu leo lectus pellentesque. Ornare elit orci morbi volutpat. Ut fermentum lorem morbi quis risus amet urna. Urna egestas lorem.</p> -->
            </div>
        </section>

        
        <section class="sec3 pin">
            <span class="anim rounded-full p-[0.6rem] text-[0.7rem] uppercase text-white bg-blackPrimary font-semibold">Part-time</span>
            <h1 class="anim text-primary font-bold">Fresources</h1>

            <div class="col anim md:w-[40vw] w-full flex-col">
                <img 
                src="/fresources/home.png"
                class="aspect-auto w-12/13 rounded-[1rem]"
                />
                <img 
                src="/fresources/landing.png"
                class="aspect-auto w-12/13 rounded-[1rem] flex md:hidden"
                />
                <img 
                src="/fresources/event.png"
                class="aspect-auto w-12/13 rounded-[1rem] flex md:hidden"
                />
                <!-- <p>One stop for all your academic solutions. Be it books, notes, assignments, practicals, question papers, exam solutions, we got you covered!</p> -->
                <!-- <p>Lorem ipsum dolor sit amet consectetur. Egestas euismod nec sit sed massa turpis in. Sit praesent arcu leo lectus pellentesque. Ornare elit orci morbi volutpat. Ut fermentum lorem morbi quis risus amet urna. Urna egestas lorem.</p> -->
            </div>
        </section>


    </div>
</div>




<style>
.blob {
  position: absolute;
  opacity: 0.5;
  width: 400px;
  aspect-ratio: 1/1;
  animation: blobAnimate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
  filter: blur(40px);
  z-index: -1;
  background: linear-gradient(
    47deg,
    rgba(255, 88, 139, 1) 21%,
    rgb(0 164 173) 67%,
    rgba(118, 74, 166, 1) 81%
  );
}

@keyframes blobAnimate {
  0% {
    translate: 40% -25%;
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  50% {
    translate: 0% 13%;
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }
  100% {
    translate: -45% 39%;
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}


.wrapper {
    overflow-x: hidden;
    position: relative;
}
* {
    box-sizing: border-box;
}

svg {
    position: absolute;
    top: 10em;
    left: 10vw;
    width: 50vw;

    .mask {
        width: 0;
    }
}

.container {
    display: flex;
    width: 300vw;

    .col {
        display: flex;
        gap: 3em;
        
        p {
            font-size: 1rem;
        }
    }

    section {
        width: 100vw;
        padding: 15vw 10vw;

        h1 {
            font-size: 2.5rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            width: 50vw;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 3em;
            width: 100%;
            height: 300px;
            padding: 0;

            li {
                background: white;
                border-radius: .3em;
                flex-grow: 1;
            }
        }

    }
}

section {
    height: 100vh;
}

</style>



<script>
    import gsap from 'gsap';


const sections: HTMLElement[] = gsap.utils.toArray(".container section");
const mask = document.querySelector(".mask");

let scrollTween = gsap.to(sections, {
  xPercent: -100 * (sections.length - 1),
  ease: "none",
  scrollTrigger: {
    trigger: ".container",
    pin: true,
    scrub: 1,
    end: "+=3000",
    //snap: 1 / (sections.length - 1),
    // markers: true,
  }
});

//Progress bar animation

gsap.to(mask, {
  width: "100%",
  scrollTrigger: {
    trigger: ".wrapper",
    start: "top left",
    scrub: 1
  }
});

// whizz around the sections
sections.forEach((section) => {
  // grab the scoped text
  let text = (section as HTMLElement).querySelectorAll(".anim");
  
  // bump out if there's no items to animate
  if(text.length === 0)  return 
  
  // do a little stagger
  gsap.from(text, {
    y: -130,
    opacity: 0,
    duration: 2,
    ease: "elastic",
    stagger: 0.1,
    scrollTrigger: {
      trigger: section,
      containerAnimation: scrollTween,
      start: "left center",
    //   markers: true
    }
  });
});

</script>